/*estilo da página meteoro*/

.center {
    text-align:center;
    }
    
#menu li {
display:inline;
padding: 12px;
}

#menu li a{
text-decoration: none;
color: blue;
}

#menu li a: hover{
    color: grey;
}


.ocontainer{
    display: flex;
    flex-flow: row;
    justify-content: center;
  
    }

    /*estilo da página contato*/
.ml-50{
    margin-left: 50px;
}


.container{
    display:flex;
    flex-flow: row ;
    justify-content:center;
    align-items:center;
    }



    /*index*/
    .container{
        display:flex;
        flex-flow: row ;
        justify-content:center;
        align-items:center;
        }

    .justify{
        text-align: justify;
    }    

     .br-50{
             border-radius: 50%;
         }

     .wh{
         width:500px;
         height:500px;
     }

     .tm-social{
         width: 20px;
         height: 20px;
         
     }

     .mb-50{
         margin-bottom: 50px;
     }

